<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.ruly.lecture.db.mybatis.training.basic.mb02.repository.RiddleMapper">
	<select id="selectAll"
		resultType="jp.ruly.lecture.db.mybatis.training.basic.mb02.entitty.Riddle">
		SELECT id
		, question
		, answer1
		, answer2
		, answer3
		, correct_number AS correctNumber
		FROM "riddle"
		ORDER BY id
	</select>
</mapper>