<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.ruly.lecture.db.mybatis.training.basic.mb02.repository.RiddleMapper">
	<resultMap id="RiddleResultMap"
		type="jp.ruly.lecture.db.mybatis.training.basic.mb02.entitty.Riddle">
		<constructor>
			<arg column="id" javaType="java.lang.Integer" />
			<arg column="question" javaType="java.lang.String" />
			<arg column="answer1" javaType="java.lang.String" />
			<arg column="answer2" javaType="java.lang.String" />
			<arg column="answer3" javaType="java.lang.String" />
			<arg column="correctNumber" javaType="int" />
		</constructor>
	</resultMap>

	<select id="selectAll" resultMap="RiddleResultMap">
		SELECT id
		, question
		, answer1
		, answer2
		, answer3
		, correct_number AS correctNumber
		FROM "riddle"
		ORDER BY
		id
	</select>

	<insert id="insert">
		INSERT INTO
		"riddle"(question,answer1,answer2,answer3,correct_number)
		VALUES
		(#{question},#{answer1},#{answer2},#{answer3},#{correctNumber})
	</insert>
</mapper>