<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.ruly.lecture.db.mybatis.training.basic.mb01.repository.UserMapper">
	<select id="findAll"
		resultType="jp.ruly.lecture.db.mybatis.training.basic.mb01.entity.User">
		SELECT id
		, name
		, age
		, status
		FROM "user"
		ORDER BY id
	</select>

	<select id="findById"
		resultType="jp.ruly.lecture.db.mybatis.training.basic.mb01.entity.User">
		SELECT id
		, name
		, age
		, status
		FROM "user"
		WHERE id = #{id}
	</select>

	<select id="findByConditions"
		resultType="jp.ruly.lecture.db.mybatis.training.basic.mb01.entity.User">
		SELECT id
		, name
		, age
		, status
		FROM "user"
		<where>
			<if test="name != null and name !=''">
				AND name LIKE '%' || #{name} || '%'
			</if>
			<if test="minAge != null">
				AND age >= #{minAge}
			</if>
		</where>
	</select>

	<update id="updateStatus">
		UPDATE "user"
		SET status = #{status}
		WHERE id = #{id}
		AND age >= 20
	</update>
</mapper>